*{
    font-family: "Noto Serif JP";
    color: #8c7a6a;
}
.header{
    border-bottom: 1px solid #f0f0f0;
}
.header__inner{
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}
.header__logo{
    text-decoration: none;
    font-size: 24px;
}