* {
    font-family: "Noto Serif JP";
    color: #8c7a6a;
}
.header {
    margin: 0 auto;
        padding: 20px 15px;
        max-width: 1230px;
        text-align: center;
        border-bottom: 1px solid #f0f0f0;
}
.header__content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__inner {
    width: 80%;
    padding: 20px 15px;
    margin-left: 75px;

}
.header__logo {
    text-decoration: none;
    font-size: 24px;
}
.header__nav{
    display: flex;
}
.login__button,
.logout__button{
    margin-left: 10px;
}
.login__button,
.register__button{
    display: inline-block;
    padding: 8px;
    border: 1px solid #82746b;
    border-radius: 5px;
    text-decoration: none;
    color: #82746b;
    background: #f4f4f4;
    font-size: 13px;
    cursor: pointer;
}
.logout__button{
    border: 1px solid #82746b;
    padding: 8px;
    border-radius: 5px;
    color: #82746b;
    background: #f4f4f4;
    cursor: pointer;
}